$maxContentWidth: 1280px;

//Mui Variables

//Primary
$primary50: var(--mui-palette-primary-50);
$primary100: var(--mui-palette-primary-100);
$primary200: var(--mui-palette-primary-200);
$primary300: var(--mui-palette-primary-300);
$primary400: var(--mui-palette-primary-400);
$primary500: var(--mui-palette-primary-500);
$primary600: var(--mui-palette-primary-600);
$primary700: var(--mui-palette-primary-700);
$primary800: var(--mui-palette-primary-800);
$primary900: var(--mui-palette-primary-900);

//Background
$paper: var(--mui-palette-background-paper);

//Custom
$btnHover: var(--mui-palette-btnHover);